.container {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    transform: translateY(-13%);
    gap: 2ch;
}

.agentAbsolute {
    position: absolute;
    pointer-events: none;
    bottom: -21.2%;
}

.agent {
    position: relative;
    width: 273px;
    height: 509px;
}

@media screen and (min-width: 2400px) {
    .agent {
        position: relative;
        width: 400px;
        height: 709px;
    }
}